<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AppVeyor CI - Inner Content builds" value="https://ci.appveyor.com/nuget/umbraco-inner-content-w59jhwr5br60" />
    <add key="MyGet: Umbraco Community Packages" value="https://www.myget.org/F/umbraco-packages/api/v3/index.json" />
  </packageSources>
</configuration>